mixin start()
  // Start starts 
  SECTION.section-start
    .container
      +b.start
        +e.text
          h3 Are you ready to go?
          h5 Here the call to action area. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        +b.BUTTON.btn-start START YOUR PROJECT
  // Start ends 