.section-start
  background-color #4ecb8c

.start
  padding 100px 0 80px 0
  h3
    color white
    font-size 22px
    margin-bottom 5px
  h5
    color white
  display flex
  &__text
    width 70%
  
  .btn-start
    border 2px solid white
    &:hover
      background-color white
      color #4ecb8c