extends ../layouts/main
include ../blocks/header/header
include ../blocks/hero/hero
include ../blocks/footer/footer
include ../blocks/scripts/scripts
include ../blocks/contacts/contacts

block content
  +contacts()