mixin modal-contacts()
  // Modal Contacts starts 
  +b(id="contacts").modal-contacts
    +e.A(href="#close" title="Close").close X
    +e.H3.ttl Let's work together!
    +e.FORM(method="post").form
      +e.name
        +e.LABEL(for="name").name-label Your name
        +e.INPUT(type="text" id="name" name="name").input-name
      +e.email
        +e.LABEL(for="email").email-label Your e-mail
        +e.INPUT(type="email" id="email" name="email").input-email
      +e.text
        +e.sub-ttl Tell us what you need
        +e.TEXTAREA(name="textarea").textarea
      +e.BUTTON(type="submit").btn-submit Submit
  // Modal Contacts ends 