mixin contacts()
  // Contacts section starts 
  SECTION.section-contacts
    .container
      +b.contacts
        +e.top-panel
          h1 Contact Us
        +e.content
          - for(let j = 0; j < 3; j++)
            +b.contact-card
              img(src="/assets/images/icon-location.png" alt="location")
              h3 CALIFORNIA
              h5.ttl Phone:
              a(href="tel:190012345678")
                h5.strong 1900 - 1234 - 5678
              h5.ttl Email:
              a(href="mailto:info@interior.com")
                h5.strong info@interior.com
              h5.ttl Address:
              h5 12 W 1st St. 90001 Los Angeles, California
  // Contacts section ends 