.contacts
  &__top-panel
    padding 244px 0 44px 99px
    background-color #f5f5f5
    h1
      letter-spacing -4px
    +below(768px)
      padding 250px 0 44px 10px
  
  &__content
    display flex
    justify-content space-around
    flex-wrap wrap
    margin 57px 83px 112px 83px
    +below(768px)
      margin 67px 0 122px 0
  
.contact-card
  width 368px
  height 368px
  text-align center
  border 1px solid #9c9c9c
  margin 10px
  img
    margin 47px 0 26px 0
  h3
    font-size 20px
    color #212121
    letter-spacing 0.6px
    margin-bottom 12px
  .ttl
    font-weight 700
    margin 6px 0 -2px 0