mixin slider()
  // Slider section starts 
  SECTION.section-slider
    .container
      +b.slider
        +e.content
          h3 Hot deal
          h1 Fishnet Chair
          h5 Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black
          +b.BUTTON.btn-order Order us
        +e.navi
          +inline-svg('icon-navi')
          +inline-svg('icon-navi')
          +inline-svg('icon-navi')
  // Slider section ends 