header
  position absolute
  width 100%
  z-index 1
  left 0
  top 0

.logo
  font-size 30px
  font-weight 400
  font-family Poiret One, cursive
  color white
  &__strong
    font-weight 700
  &:hover
    color white
  &:active
    opacity 0.8

.header
  padding 63px 167px 0 98px
  display flex
  justify-content space-between
  flex-wrap wrap
  +below(1100px)
    padding 63px 15px 0 98px
    a img
      margin-bottom 30px
  +below(866px)
    padding 20px 10px 0 10px

nav 
  display flex

.nav-menu
  list-style none
  li
    float left
    text-align center
    a
      text-decoration none
      color white
      font-size 14px
      text-transform uppercase
      font-family Montserrat, sans-serif
      padding 0 15px 10px 15px
      +below(600px)
        text-align left
      letter-spacing 1.1px
      transition all .25s
      &:hover
        border-bottom 3px solid white
      &:active
        border-bottom 3px solid white
        opacity 0.6
