mixin header()
  // Header starts 
  HEADER
    .container
      +b.header
        +b.A(href="/index.html").logo
          +e.SPAN.strong company
          | name
        NAV
          ul.nav-menu
            li
              a(href="/index.html") HOME
            li
              a(href="/products.html") ABOUT
            li
              a(href="#") BLOG
            li
              a(href="/product-details.html") PORTFOLIO
            li
              a(href="/contacts.html") CONTACT
  // Header ends 