.section-experience
  background-color rgb(51, 51, 51)
  color white
  p
    color white

.experience
  padding 150px 0 100px 0
  display flex
  justify-content space-around
  &__info
    width 45%
    h2
      margin-bottom 50px
    p
      margin-bottom 20px
      color white
    .btn-view
      margin 35px 0 0 0
  &__skills
    width 45%

.skill
  &__graphic
    width 90%
    height 14px
    background-color white
    position relative
    margin 5px 0 25px 0
  &__success
    width 95%
    background-color #4ecb8c
    height 100%
    position absolute
    left 0
    top 0
    z-index 1
  &__mark
    position absolute
    left 91%
    top -45px
    background url("/assets/images/tooltip.png") no-repeat center
    width 40px
    height 40px
    font-size 12px
    display flex
    justify-content center
    align-items center
    padding-bottom 6px
  &.skill-2 
    .skill__success
      width 75%
    .skill__mark
      left 71%
  
  &.skill-3 
    .skill__success
      width 80%
    .skill__mark
      left 76%
  
  &.skill-4 
    .skill__success
      width 55%
    .skill__mark
      left 51%
  
  &.skill-5
    .skill__success
      width 85%
    .skill__mark
      left 81%
    