.blog
  margin 150px 0 100px 0
  &__items
    display flex
    justify-content space-around

.post
  width 360px
  &__image
    width 360px
    height 270px
    background-color rgb(155, 154, 149)
  &__ttl
    margin 25px 15px 20px 15px
  &__info
    display flex
    margin 0 10px 0 10px
  &__date
    margin-right 30px
  &__text
    margin 20px 10px 0 10px