mixin promo()
  // Promo section starts 
  SECTION.section-promo
    .container
      +b.promo
        +b.large-product.large-product-1
          h3 Exclusive
          h2 Fishnet Chair
          h5 Seat and back with upholstery made of cold cure foam. Steel frame, available in matt
          +b.BUTTON.btn-order Order us
        +b.large-product.large-product-2
          h3 Exclusive
          h2 Fishnet Chair
          h5 Seat and back with upholstery made of cold cure foam. Steel frame, available in matt
          +b.BUTTON.btn-order Order us
  // Promo section ends 