mixin hero()
  // Hero starts 
  SECTION.section-hero
    .container
      +b.hero
        +e.content
          h1 We're here to create your online presense and style
          h4 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis aut molestiae harum alias quod eius minima, autem vel rerum accusantium necessitatibus beatae excepturi quis. Accusamus debitis tenetur necessitatibus sed assumenda fugit quaerat totam! Nihil, magnam odit quam.
          +b.BUTTON.btn-start START TODAY WITH US
  // Hero ends 