.section-hero
  background rgb(155, 154, 149)

.hero
  position relative
  height 100vh
  &__content
    display flex
    flex-direction column
    padding 369px 0 0 98px
    max-width 680px
    +below(768px)
      padding-left 10px
      padding-top 300px
    h1
      color white
    h4
      color white
      margin 20px 0 50px 0