mixin exclusive()
  // Exclusive section starts
  SECTION.section-exclusive
    .container
      +b.exclusive
        +b.medium-product
          h3 Exclusive
          h2 Fishnet Chair
          h5 Seat and back with upholstery made of cold cure foam. Steel frame, available in matt
          +b.BUTTON.btn-order Order us
        +e.products
          +b.product.product-1
            +e.overlay
              +e.BUTTON.btn-go
              h3 Fishnet Chair
              h5 Seat and back with upholstery made of cold cure foam
          +b.product.product-2
            +e.overlay
              +e.BUTTON.btn-go
              h3 Fishnet Chair
              h5 Seat and back with upholstery made of cold cure foam
          +b.product.product-3
            +e.overlay
              +e.BUTTON.btn-go
              h3 Fishnet Chair
              h5 Seat and back with upholstery made of cold cure foam
          +b.product.product-4
            +e.overlay
              +e.BUTTON.btn-go
              h3 Fishnet Chair
              h5 Seat and back with upholstery made of cold cure foam
  // Exclusive section ends