mixin mobile-app()
  // Mobile-app section starts 
  SECTION.section-mobile-app
    .container
      +b.mobile-app
        +e.content
          h3 Mobile app
          h1 Find. Follow. Favorite.
          h4 Save your favorites and share your style.
          +e.links
            +e.A(href="#").link-appstore
            +e.A(href="#").link-googleplay
  // Mobile-app section ends 