.mobile-app
  background url('/assets/images/back-img.jpg') no-repeat center
  height 516px
  margin-top 91px
  &__content
    display flex
    flex-direction column
    padding 121px 0 0 97px
    +below(768px)
      padding 121px 0 0 10px
    max-width 458px
    h1, h3
      text-transform uppercase
    h1
      line-height 74px
    h3
      color #6c6c6c
    h4
      margin-top 7px
  &__links
    display flex
    margin-top 31px
  &__link-appstore
    background url("/assets/images/app-store.png") no-repeat
    width 135px
    height 40px
    margin-right 10px
  &__link-googleplay
    background url("/assets/images/google-play.png") no-repeat
    width 135px
    height 40px