.related
  margin 237px 0 107px 0
  &__panel
    margin 0 76px 0 98px
    +below(768px)
      margin 0 2px 0 10px
    display flex
    justify-content space-between
  .btn-explore
    margin 9px 0 0 1px
    +below(768px)
      margin-top -5px
  &__products
    display flex
    flex-wrap wrap
    margin 35px 84px 50px 84px
    +below(768px)
      margin 35px 10px 50px 10px
    justify-content space-around