mixin related()
  // Related section starts 
  SECTION.section-related
    .container
      +b.related
        +e.panel
          h2 Related Products
          +b.BUTTON.btn-explore Explore all
        +e.products
          +b.product.product-1
            +e.overlay
              +e.BUTTON.btn-go
              h3 Fishnet Chair
              h5 Seat and back with upholstery made of cold cure foam
          +b.product.product-2
            +e.overlay
              +e.BUTTON.btn-go
              h3 Fishnet Chair
              h5 Seat and back with upholstery made of cold cure foam
          +b.product.product-3
            +e.overlay
              +e.BUTTON.btn-go
              h3 Fishnet Chair
              h5 Seat and back with upholstery made of cold cure foam
  // Related section ends 