*
  margin 0
  padding 0
  border 0
  outline 0

*,
*:before,
*:after
  box-sizing inherit

@font-face
  font-family "Gotham"
  src url(/assets/fonts/Gotham-Light.otf) format("opentype")
  font-weight 300