body
  font-family Lato, sans-serif
  color black

.svg-sprite
  display none

.container
  max-width 1366px
  margin 0 auto

h1
  font-family Cabin, sans-serif
  font-size 60px
  text-shadow 0px 1px 0px rgba(0, 0, 0, 0.13)
  font-weight 400

h2
  font-size 36px
  font-weight 700
  +below(768px)
    font-size 24px
  +below(500px)
    font-size 18px

h3
  font-size 18px
  font-weight 700

h4
  font-weight 300
  font-size 20px
  line-height 32px
  font-weight 300
  text-shadow 0px 1px 0px rgba(0, 0, 0, 0.13)

h5
  font-size 16px
  color #444444
  font-weight 400

a
  text-decoration none
  transition all .25s
  &:hover
    color rgb(108, 108, 108)
  &:active
    color rgb(217, 222, 225) 

.btn-start
  font-family Lato, sans-serif
  background-color #4ecb8c
  border-radius 5px
  font-weight 700
  color white
  width 224px
  height 52px
  cursor pointer
  border 3px solid transparent
  transition all .25s
  letter-spacing 1px
  &:hover
    color #4ecb8c
    background-color transparent
    border 3px solid #4ecb8c
  &:active
    opacity 0.6

.btn-more
  font-family Lato, sans-serif
  background transparent
  border-radius 5px
  font-weight 700
  color #333333
  width 224px
  height 52px
  cursor pointer
  border 2px solid #333333
  transition all .25s
  letter-spacing 1px
  &:hover
    color white
    background-color #4ecb8c
    border 2px solid #4ecb8c
  &:active
    opacity 0.6

.btn-view
  font-family Lato, sans-serif
  background transparent
  border-radius 5px
  font-weight 700
  color white
  width 224px
  height 52px
  cursor pointer
  border 2px solid white
  transition all .25s
  letter-spacing 1px
  &:hover
    color white
    background-color #4ecb8c
    border 2px solid #4ecb8c
  &:active
    opacity 0.6