mixin testimonials()
  // Testimonials starts 
  SECTION.section-testimonials
    .container
      +b.testimonials
        h2 Our Clients Say
        +e.items
          +b.review
            +e.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic adipisci numquam facere excepturi dignissimos placeat minima eos minus officia. Distinctio eum debitis doloribus nemo nisi error corrupti reiciendis nam a necessitatibus cum odio dolore aliquid delectus enim tenetur, rem quos.
              +e.border-block
            +e.personal
              +e.info
                +e.name Joe Doe
                +e.role Creative Director at Gmoole.com
              +e.photo
          +b.review
            +e.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic adipisci numquam facere excepturi dignissimos placeat minima eos minus officia. 
              +e.border-block
            +e.personal
              +e.info
                +e.name Joe Doe
                +e.role Creative Director at Gmoole.com
              +e.photo
          +b.review
            +e.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic adipisci numquam facere excepturi dignissimos placeat.
              +e.border-block            
            +e.personal
              +e.info
                +e.name Joe Doe
                +e.role Creative Director at Gmoole.com
              +e.photo
          +b.review
            +e.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic adipisci numquam facere excepturi dignissimos placeat minima eos minus officia. Distinctio eum debitis doloribus nemo nisi error corrupti reiciendis nam a necessitatibus cum odio dolore aliquid delectus enim tenetur, rem quos. Hic adipisci numquam facere excepturi dignissimos placeat.
              +e.border-block
            +e.personal
              +e.info
                +e.name Joe Doe
                +e.role Creative Director at Gmoole.com
              +e.photo
  // Testimonials ends 